#container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}

#chat-text {
  overflow: auto;
  height: 500px;
}

.partyGoer {
	position: absolute;
	top: 0px;
	left: 0px;
}
