<!DOCTYPE html>
<html>
  <head>
    <title>DATABASS</title>
    <link href="static/css/application.css" rel="stylesheet" media="screen">
  </head>

  <body>
  <div id="container">
  <!-- <audio src="/static/sounds/beat.wav" autoplay loop preload="auto"> -->
  <!-- <audio src="/static/sounds/beat.wav" type="audio/wav"> -->
  </div>
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>



